  <div class="banner">
  </div>
<!--   <div class="offer"><h1>GOODS</h1></div>
  <div class="offer"><h1>SERVICES</h1></div>
  <div class="offer"><h1>SPACES</h1></div>
 -->
 <div class="row">
  <div class="small-2 large-4 columns offer"><h1>GOODS</h1><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p></div>
  <div class="small-2 large-4 columns offer"><h1>SERVICES</h1><p>Incidunt accusamus dicta voluptates placeat voluptatum odio!</p></div>
  <div class="small-2 large-4 columns offer"><h1>SPACES</h1><p>Iure, nostrum, possimus, veniam, aspernatur temporibus commodi dolore cumque nesciunt quod corrupti consequatur cupiditate velit?</p></div>
</div>

<div class="row desc">
  <div class="large-6 columns">
    <h1>Sample Rental Showcase</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, veritatis, neque, nobis, a sed perspiciatis molestiae explicabo sunt deleniti sint inventore distinctio porro modi adipisci doloribus temporibus dolores quae ipsa!</p>
  </div>
  <div class="large-6 columns img"><h1>img goes here</h1></div>
</div>

<div class="row desc">
  <div class="large-6 columns img"><h1>another img goes here</h1></div>
  <div class="large-6 columns"><h1>Showcase Your Services</h1><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, eum, magni et doloremque dolor laborum tempora repellat fuga incidunt recusandae ab cumque molestias magnam! Dolore, amet unde ducimus voluptatem adipisci.</p></div>
</div>

<div class="row desc">
  <div class="large-6 columns"><h1>Showcase Your Space</h1><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, eum, magni et doloremque dolor laborum tempora repellat fuga incidunt recusandae ab cumque molestias magnam! Dolore, amet unde ducimus voluptatem adipisci.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, quia, dolores facilis consectetur minus eius at nobis magni blanditiis ratione quam rerum exercitationem perferendis provident fugiat beatae culpa illo accusantium?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, quia, dolores facilis consectetur minus eius at nobis magni blanditiis ratione quam rerum exercitationem perferendis provident fugiat beatae culpa illo accusantium?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, quia, dolores facilis consectetur minus eius at nobis magni blanditiis ratione quam rerum exercitationem perferendis provident fugiat beatae culpa illo accusantium?</p></div>
  <div class="large-6 columns img"><h1>another img goes here</h1></div>
  <div class="large-6 columns img" id="spacing"><h1>another img goes here</h1></div>
</div>



























