.forgot {
	text-align: right;
}

.forgot span {
	margin-left: 10px;
	font-size: 12px;
}

.logins {
	float: right;
	margin-right: 2rem;
	border: 1px solid white;
	border-radius: 3px;
	padding: 0 5px;
	background-color: #85FF0C;
}


.navigation {
	position: relative;
	top: 0;
	margin: 0 auto;
	padding: 25px;
	height: 75px;
	text-align: center;
}

.navigation a {
	color: white;
}

.menu-item {
	margin-left: 4rem;
}

nav {
	background-color: grey;
}

.devise-headers {
	text-align: center;
}

