body {
  height: 2000px;
  position: relative;
}

.banner {
  background: url(banner.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 399px;
  width: 100%;
  padding: 0;
}

/*.offer {
  display: inline-block;
  border: 1px solid black;
  text-align: center;
  margin: 0;
  height: 200px;
  width: 33%;
}*/

.offer {
  border: 1px solid black;
  text-align: center;
  height: 200px;
}

.img {
  background-color: pink;
  height: 250px;
}

.desc {
  margin-top: 15px;
}

#spacing {
  margin-top: 15px;
}

.bot-nav {
  background-color: blue;
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 100%;
}














