<!DOCTYPE html>
<html>
<head>
  <title>Rentah</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul class="navigation">
      <span class="menu-item"><a href="#">About</a></span>
      <span class="menu-item"><a href="#">Join us</a></span>
      <span class="menu-item"><a href="#">FAQ</a></span>
      <span class="menu-item"><a href="#">Our Team</a></span>
      <span class="menu-item"><a href="#">Learn More</a></span>
      <span class="menu-item"><a href="#">Contact</a></span>
      <span class="logins">sign up</span>
      <span class="logins">log in</span>
    </ul>
  </nav>
  <div class="banner">
  </div>
  <div class="offer"><h1>GOODS</h1></div>
  <div class="offer"><h1>SERVICES</h1></div>
  <div class="offer"><h1>SPACES</h1></div>

<%= yield %>

</body>
</html>
